# To ignore a specific file at same repo or main repo
error.log
# Ignore files of a particular extension all over the repo
# here we ignore files with ( .log )
*.log
# By defaukt this ignores all the dir named " cache " inside the repo
cache/
# we want to ignore only outer cache 
#/cache/

# If once a file is being started tracked then ,it will be tracked though it is in .gitignore
c-1.txt
#so that we have to unstage it using
# git restore --staged <file>
# git rm --cached <file>
/Git_Tutorial_Notes